.book-table{
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 1px solid red; */
    padding: 1rem 0.8rem;

}
.book-table-right-box>.white{
    font-weight: bold;
    margin-top: -10px;
}

.book-table .book-table-left{
    width: calc(100%/2);
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* border: 1px solid red; */
}

.book-table-left .book-table-left-image{
    width: 100%;
    height: 100%;
}

.book-table-left-image img{
    width: 100%;
    height: 100%;
}

.book-table .book-table-right{
    width: calc(100%/2);
    height: 100%;
    /* border: 1px solid red; */
}

.book-table-right .book-table-right-box{
    width: 100%;
    height: 100%;
    background-color: #0f172b;
    padding: 2rem 3.3rem 0 3.3rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.book-table-right-box .reservation {
    position: relative;
    color: #fea116;
    /* font-family: 'Cedarville Cursive', cursive; */
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Pacifico', cursive;
    
}

.form-control{
    padding: 0.7rem !important;
}

.input-data{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.textarea{
    width: 100%;
    height: 16vh;
    border-radius: 10px;
    padding: 0.4rem;
    border: none;
}

.booknow{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem !important;
}


.book-table-right-box .reservation::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 2px;
    top: 50%;
    left:160px;
    margin-top: 3px;
    background: #f67528;
}
